<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>

    <!--main-->
    <logger name="main_logger">
      <level value="ALL" />
      <appender-ref ref="MainAppender" />
    </logger>
    
    <!--demo-->
    <logger name="demo_logger">
      <level value="ALL" />
      <appender-ref ref="DemoAppender" />
    </logger>

    <!--webapi-->
    <logger name="webapi_logger">
      <level value="ALL" />
      <appender-ref ref="WebApiAppender" />
    </logger>
    
    <appender name="MainAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Main.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>
    
    <appender name="DemoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Demo.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>

    <appender name="WebApiAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/WebApi.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>

  </log4net>

</configuration>